<div class="max-w-screen-sm p-4 md:p-8 mx-auto">
  <%= image_tag "logo.svg", class: "h-12 mb-4" %>

  <h1 class="h1 mb-6">New bid</h1>

  <h2 class="h2 mb-4">Route</h2>

  <div class="mb-6 grid grid-cols-2 gap-3">
    <label class="col-span-2 md:col-span-1 p-3 border-2 rounded-lg cursor-pointer font-medium
      has-[:checked]:border-primary has-[:checked]:bg-green-50 has-[:checked]:text-green-900">
      <input type="radio" name="route" value="berlin-warsaw" class="hidden">
      Berlin
      <span class="text-neutral-500 mx-1">→</span>
      Warsaw
    </label>
    <label class="col-span-2 md:col-span-1 p-3 border-2 rounded-lg cursor-pointer font-medium
      has-[:checked]:border-primary has-[:checked]:bg-green-50 has-[:checked]:text-green-900">
      <input type="radio" name="route" value="berlin-warsaw" class="hidden">
      Belfast
      <span class="text-neutral-500 mx-1">→</span>
      Cardiff
    </label>
    <label class="col-span-2 md:col-span-1 p-3 border-2 rounded-lg cursor-pointer font-medium
      has-[:checked]:border-primary has-[:checked]:bg-green-50 has-[:checked]:text-green-900">
      <input type="radio" name="route" value="berlin-warsaw" class="hidden">
      Prague
      <span class="text-neutral-500 mx-1">→</span>
      Brussels
    </label>
    <label class="col-span-2 md:col-span-1 p-3 border-2 rounded-lg cursor-pointer font-medium
      has-[:checked]:border-primary has-[:checked]:bg-green-50 has-[:checked]:text-green-900">
      <input type="radio" name="route" value="berlin-warsaw" class="hidden">
      Amsterdam
      <span class="text-neutral-500 mx-1">→</span>
      Cologne
    </label>
  </div>

  <h2 class="h2 mb-4">Load</h2>

  <div class="mb-6 grid grid-cols-3 gap-3">
    <label class="p-3 border-2 rounded-lg cursor-pointer font-medium
      has-[:checked]:border-primary has-[:checked]:bg-green-50 has-[:checked]:text-green-900">
      <input type="radio" name="load" value="berlin-warsaw" class="hidden">
        5 pallets
    </label>
    <label class="p-3 border-2 rounded-lg cursor-pointer font-medium
      has-[:checked]:border-primary has-[:checked]:bg-green-50 has-[:checked]:text-green-900">
      <input type="radio" name="load" value="berlin-warsaw" class="hidden">
        10 pallets
    </label>
    <label class="p-3 border-2 rounded-lg cursor-pointer font-medium
      has-[:checked]:border-primary has-[:checked]:bg-green-50 has-[:checked]:text-green-900">
      <input type="radio" name="load" value="berlin-warsaw" class="hidden">
        26 pallets
    </label>
  </div>

  <h2 class="h2 mb-4">Bid</h2>

  <div class="mb-4 text-lg rounded-lg bg-neutral-50 p-4">
    Max price: <strong>€ 1,000</strong>
  </div>

  <div class="mb-6">
    <label for="price" class="block mb-2">Your bid</label>
    <input type="number" id="price" name="price" placeholder="Your bid" class="input input-bordered w-full">
  </div>
</div>
