<div class="max-w-screen-sm p-4 md:p-8 mx-auto">
  <%= image_tag "logo.svg", class: "h-12 mb-4" %>

  <h1 class="h1 mb-6">New bid</h1>

  <h2 class="h2 mb-4">Route</h2>

  <div class="mb-6 grid grid-cols-2 gap-3">
    <label class="col-span-2 md:col-span-1 p-3 border-2 rounded-lg
      has-[:checked]:border-primary has-[:checked]:bg-green-50 has-[:checked]:text-green-800">
      <input type="radio" name="route" value="berlin-warsaw" class="hidden">
      Berlin
      <span class="mx-1">→</span>
      Warsaw
    </label>
    <label class="col-span-2 md:col-span-1 p-3 border-2 rounded-lg
      has-[:checked]:border-primary has-[:checked]:bg-green-50 has-[:checked]:text-green-800">
      <input type="radio" name="route" value="berlin-warsaw" class="hidden">
      Belfast
      <span class="mx-1">→</span>
      Cardiff
    </label>
    <label class="col-span-2 md:col-span-1 p-3 border-2 rounded-lg
      has-[:checked]:border-primary has-[:checked]:bg-green-50 has-[:checked]:text-green-800">
      <input type="radio" name="route" value="berlin-warsaw" class="hidden">
      Prague
      <span class="mx-1">→</span>
      Brussels
    </label>
    <label class="col-span-2 md:col-span-1 p-3 border-2 rounded-lg
      has-[:checked]:border-primary has-[:checked]:bg-green-50 has-[:checked]:text-green-800">
      <input type="radio" name="route" value="berlin-warsaw" class="hidden">
      Amsterdam
      <span class="mx-1">→</span>
      Cologne
    </label>
  </div>

  <h2 class="h2 mb-4">Load</h2>
</div>
