<div class="max-w-screen-sm p-4 md:p-8 mx-auto">
  <%= image_tag "logo.svg", class: "h-12 mb-4" %>

  <h1 class="h1 mb-4">New bid</h1>

  <div class="grid grid-cols-2 gap-3">
    <div class="col-span-2 md:col-span-1 p-3 border-2 border-primary rounded-lg">
      Berlin → Warsaw
    </div>
    <div class="col-span-2 md:col-span-1 p-3 border-2 border-neutral-200 rounded-lg">
      Belfast → Cardiff
    </div>
    <div class="col-span-2 md:col-span-1 p-3 border-2 border-neutral-200 rounded-lg">
      Prague → Brussels
    </div>
    <div class="col-span-2 md:col-span-1 p-3 border-2 border-neutral-200 rounded-lg">
      Amsterdam → Cologne
    </div>
  </div>
</div>
